header{
	background: white; 
	padding-top: 10px;
	padding-bottom: 10px;
}

.col-md-4{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.logo{
	width: 250px;
}

.botonera li{
  list-style: none;
	margin-left: 30px;
	font-weight: 700;
	font-size: 20px;
}

.botonera{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
}

.botonera li a{
	color: #606e59;
  text-decoration: none;
	font-family: sillyGirls;
	font-size: 50px;
}

.botonera li a:hover{
	text-decoration: none;
	transition: text-shadow, 0.5s;
	text-shadow: 2px 7px #bfc6dd
}

@media(max-width: 576px){
	.botonera li a{
		font-size: 30px;
	}
		.centrar{
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 20px;
		}
	.botonera{
		margin-top: 20px;
	}

}