<div class="container servicios" id="servicios">
	<div class="row">
		<div class="col-md-12">
			<h1>Nuestros servicios</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3 col-md-6 col-sm-6 col-sx-12">
			<img class="imagenes" src="../../../assets/img/servicios/desayuno.png" alt="Desayunos">
			<h3>Desayunos</h3>
			<p>Para cumpleaños, días especiales o simplemente para sorprender a los que más queres.</p>
		</div>
		<div class="col-lg-3 col-md-6 col-sm-6 col-sx-12">
			<img class="imagenes" src="../../../assets/img/servicios/picada.png" alt="Picadas">
			<h3>Picadas</h3>
			<p>Fiambres de primera calidad, para grupos chicos o grandes. Tambien opciones veggie.</p>
		</div>
		<div class="col-lg-3 col-md-6 col-sm-6 col-sx-12">
			<img class="imagenes" src="../../../assets/img/servicios/18.jpeg" alt="Tortas">
			<h3>Tortas</h3>
			<p>Hacemos real la torta de tus sueños. Colores, formas, lo que te imagines. Nada es imposible. </p>
		</div>
		<div class="col-lg-3 col-md-6 col-sm-6 col-sx-12">
			<img class="imagenes" src="../../../assets/img/servicios/eventos.png" alt="Eventos">
			<h3>Eventos</h3>
			<p>Catering para eventos corporativos, reuniones familiares, fiestas temáticas, etc.</p>
		</div>
	</div>
</div>