<app-header></app-header>

<div class="row m-5">
        <h1>Algunos de nuestros trabajos</h1>
        <h3>Desayunos</h3>
    <div class="col-lg-3 mb-4">
        <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage1">
            <img class="w-100 mb-4 rounded" src="../../../assets/img/galeria/1.jpeg" alt="">
        </a>
    </div>
    <div class="col-lg-3 mb-4">
        <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage4">
            <img class="w-100 mb-4 rounded" src="../../../assets/img/galeria/4.jpeg" alt="">
        </a>
    </div>
    <div class="col-lg-3 mb-4">
        <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage3">
            <img class="w-100 mb-4 rounded" src="../../../assets/img/galeria/3.jpeg" alt="">
        </a>
    </div>
    <div class="col-lg-3 mb-4">
        <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage13">
            <img class="w-100 mb-4 rounded" src="../../../assets/img/galeria/13.jpeg" alt="">
        </a>
    </div>

    <h3>Picadas</h3>
    <div class="col-lg-4 mb-4">
        <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage9">
            <img class="w-100 mb-4 rounded" src="../../../assets/img/galeria/9.jpeg" alt="">
        </a>
    </div>
    <div class="col-lg-4 mb-4">
        <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage10">
            <img class="w-100 mb-4 rounded" src="../../../assets/img/galeria/10.jpeg" alt="">
        </a>
    </div>
    <div class="col-lg-4 mb-4">
        <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage11">
            <img class="w-100 mb-4 rounded" src="../../../assets/img/galeria/11.jpeg" alt="">
        </a>
    </div>

    <h3>Tortas</h3>
    <div class="col-lg-3 mb-4">
        <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage2">
            <img class="w-100 mb-4 rounded" src="../../../assets/img/galeria/2.jpeg" alt="">
        </a>
        <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage14">
            <img class="w-100 mb-4 rounded" src="../../../assets/img/galeria/14.jpeg" alt="">
        </a>
    </div>
    <div class="col-lg-3 mb-4">
        <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage19">
            <img class="w-100 mb-4 rounded" src="../../../assets/img/galeria/19.jpeg" alt="">
        </a>
        <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage20">
            <img class="w-100 mb-4 rounded" src="../../../assets/img/galeria/20.jpeg" alt="">
        </a>
        <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage26">
            <img class="w-100 mb-4 rounded" src="../../../assets/img/galeria/26.jpeg" alt="">
        </a>
    </div>
    <div class="col-lg-3 mb-4">
        <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage21">
            <img class="w-100 mb-4 rounded" src="../../../assets/img/galeria/21.jpeg" alt="">
        </a>
        <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage23">
            <img class="w-100 mb-4 rounded" src="../../../assets/img/galeria/23.jpeg" alt="">
        </a>

    </div>
    <div class="col-lg-3 mb-4">
        <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage25">
            <img class="w-100 mb-4 rounded" src="../../../assets/img/galeria/25.jpeg" alt="">
        </a>
        <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage27">
            <img class="w-100 mb-4 rounded" src="../../../assets/img/galeria/27.jpeg" alt="">
        </a>
        
    </div>

    <h3>Infantiles</h3>
    <div class="col-lg-3 mb-4">
        <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage5">
            <img class="w-100 mb-4 rounded" src="../../../assets/img/galeria/5.jpeg" alt="">
        </a>
    </div>
    <div class="col-lg-3 mb-4">
        <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage6">
            <img class="w-100 mb-4 rounded" src="../../../assets/img/galeria/6.jpeg" alt="">
        </a>
    </div>
    <div class="col-lg-3 mb-4">
        <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage7">
            <img class="w-100 mb-4 rounded" src="../../../assets/img/galeria/7.jpeg" alt="">
        </a>
    </div>
    <div class="col-lg-3 mb-4">
        <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage8">
            <img class="w-100 mb-4 rounded" src="../../../assets/img/galeria/8.jpeg" alt="">
        </a>
    </div>


<h3>Tematicas</h3>
<div class="col-lg-3 mb-4">
    <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage2">
        <img class="w-100 mb-4 rounded" src="../../../assets/img/galeria/17.jpeg" alt="">
    </a>
    <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage2">
        <img class="w-100 mb-4 rounded" src="../../../assets/img/galeria/30.jpeg" alt="">
    </a>

    
</div>
<div class="col-lg-3 mb-4">
    <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage22">
        <img class="w-100 mb-4 rounded" src="../../../assets/img/galeria/22.jpeg" alt="">
    </a>
    <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage24">
        <img class="w-100 mb-4 rounded" src="../../../assets/img/galeria/24.jpeg" alt="">
    </a>
</div>
<div class="col-lg-3 mb-4">
    <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage18">
        <img class="w-100 mb-4 rounded" src="../../../assets/img/galeria/18.jpeg" alt="">
    </a>
    <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage29">
        <img class="w-100 mb-4 rounded" src="../../../assets/img/galeria/29.jpeg" alt="">
    </a>
</div>
<div class="col-lg-3 mb-4">
    <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage16">
        <img class="w-100 mb-4 rounded" src="../../../assets/img/galeria/16.jpeg" alt="">
    </a>
    <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage28">
        <img class="w-100 mb-4 rounded" src="../../../assets/img/galeria/28.jpeg" alt="">
    </a>
</div>

</div>
<!-- inicio modales galeria -->

<!-- inicio modales desayunos -->
<div tabindex="-1" aria-labelledby="modalImage1"
    aria-hidden="true" class="modal fade" id="modalImage1">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
            <img src="../../../assets/img/galeria/1.jpeg" alt="">
        </div>
    </div>
</div>
<div tabindex="-1" aria-labelledby="modalImage4"
    aria-hidden="true" class="modal fade" id="modalImage4">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <img src="../../../assets/img/galeria/4.jpeg" alt="">
        </div>
    </div>
</div>
<div tabindex="-1" aria-labelledby="modalImage3"
    aria-hidden="true" class="modal fade" id="modalImage3">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
            <img src="../../../assets/img/galeria/3.jpeg" alt="">
        </div>
    </div>
</div>
<div tabindex="-1" aria-labelledby="modalImage13"
    aria-hidden="true" class="modal fade" id="modalImage13">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <img src="../../../assets/img/galeria/13.jpeg" alt="">
        </div>
    </div>
</div>
<!-- fin modales desayunos -->

<!-- inicio modales picadas -->
<div tabindex="-1" aria-labelledby="modalImage9"
    aria-hidden="true" class="modal fade" id="modalImage9">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <img src="../../../assets/img/galeria/9.jpeg" alt="">
        </div>
    </div>
</div>
<div tabindex="-1" aria-labelledby="modalImage10"
    aria-hidden="true" class="modal fade" id="modalImage10">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <img src="../../../assets/img/galeria/10.jpeg" alt="">
        </div>
    </div>
</div>
<div tabindex="-1" aria-labelledby="modalImage11"
    aria-hidden="true" class="modal fade" id="modalImage11">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <img src="../../../assets/img/galeria/11.jpeg" alt="">
        </div>
    </div>
</div>
<!-- fin modales picadas -->

<!-- inicio modales tortas -->
<div tabindex="-1" aria-labelledby="modalImage2"
    aria-hidden="true" class="modal fade" id="modalImage2">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
            <img src="../../../assets/img/galeria/2.jpeg" alt="">
        </div>
    </div>
</div>
<div tabindex="-1" aria-labelledby="modalImage14"
    aria-hidden="true" class="modal fade" id="modalImage14">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <img src="../../../assets/img/galeria/14.jpeg" alt="">
        </div>
    </div>
</div>
<div tabindex="-1" aria-labelledby="modalImage19"
    aria-hidden="true" class="modal fade" id="modalImage19">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
            <img src="../../../assets/img/galeria/19.jpeg" alt="">
        </div>
    </div>
</div>
<div tabindex="-1" aria-labelledby="modalImage20"
    aria-hidden="true" class="modal fade" id="modalImage20">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <img src="../../../assets/img/galeria/20.jpeg" alt="">
        </div>
    </div>
</div>
<div tabindex="-1" aria-labelledby="modalImage26"
    aria-hidden="true" class="modal fade" id="modalImage26">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
            <img src="../../../assets/img/galeria/26.jpeg" alt="">
        </div>
    </div>
</div>
<div tabindex="-1" aria-labelledby="modalImage21"
    aria-hidden="true" class="modal fade" id="modalImage21">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <img src="../../../assets/img/galeria/21.jpeg" alt="">
        </div>
    </div>
</div>
<div tabindex="-1" aria-labelledby="modalImage23"
    aria-hidden="true" class="modal fade" id="modalImage23">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
            <img src="../../../assets/img/galeria/23.jpeg" alt="">
        </div>
    </div>
</div>
<div tabindex="-1" aria-labelledby="modalImage25"
    aria-hidden="true" class="modal fade" id="modalImage25">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <img src="../../../assets/img/galeria/25.jpeg" alt="">
        </div>
    </div>
</div>
<div tabindex="-1" aria-labelledby="modalImage27"
    aria-hidden="true" class="modal fade" id="modalImage27">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <img src="../../../assets/img/galeria/27.jpeg" alt="">
        </div>
    </div>
</div>
<!-- fin modales tortas -->

<!-- inicio modales infantiles -->
<div tabindex="-1" aria-labelledby="modalImage5"
    aria-hidden="true" class="modal fade" id="modalImage5">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <img src="../../../assets/img/galeria/5.jpeg" alt="">
        </div>
    </div>
</div>
<div tabindex="-1" aria-labelledby="modalImage6"
    aria-hidden="true" class="modal fade" id="modalImage6">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <img src="../../../assets/img/galeria/6.jpeg" alt="">
        </div>
    </div>
</div>
<div tabindex="-1" aria-labelledby="modalImage7"
    aria-hidden="true" class="modal fade" id="modalImage7">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <img src="../../../assets/img/galeria/7.jpeg" alt="">
        </div>
    </div>
</div>
<div tabindex="-1" aria-labelledby="modalImage8"
    aria-hidden="true" class="modal fade" id="modalImage8">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <img src="../../../assets/img/galeria/8.jpeg" alt="">
        </div>
    </div>
</div>
<!-- fin modales infantiles -->

<!-- inicio modales tematicas -->
<div tabindex="-1" aria-labelledby="modalImage22"
    aria-hidden="true" class="modal fade" id="modalImage22">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <img src="../../../assets/img/galeria/22.jpeg" alt="">
        </div>
    </div>
</div>
<div tabindex="-1" aria-labelledby="modalImage24"
    aria-hidden="true" class="modal fade" id="modalImage24">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
            <img src="../../../assets/img/galeria/24.jpeg" alt="">
        </div>
    </div>
</div>
<div tabindex="-1" aria-labelledby="modalImage28"
    aria-hidden="true" class="modal fade" id="modalImage28">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <img src="../../../assets/img/galeria/28.jpeg" alt="">
        </div>
    </div>
</div>
<div tabindex="-1" aria-labelledby="modalImage29"
    aria-hidden="true" class="modal fade" id="modalImage29">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
            <img src="../../../assets/img/galeria/29.jpeg" alt="">
        </div>
    </div>
</div>
<div tabindex="-1" aria-labelledby="modalImage16"
    aria-hidden="true" class="modal fade" id="modalImage16">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <img src="../../../assets/img/galeria/16.jpeg" alt="">
        </div>
    </div>
</div>
<div tabindex="-1" aria-labelledby="modalImage28"
    aria-hidden="true" class="modal fade" id="modalImage28">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <img src="../../../assets/img/galeria/28.jpeg" alt="">
        </div>
    </div>
</div>
<!-- fin modales tematicas -->

<app-footer></app-footer>